@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
    @apply bg-black h-full overflow-x-hidden;
}

.basic-transition
{
    @apply transition duration-150 ease-in-out;
}

.menu-transition-opacity
{
    @apply transition-opacity duration-300 ease-in
}

.dotted-bg
{
    background-image: radial-gradient(rgba(255, 255, 255, 0.2) 9%, transparent 9%);
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    transition: opacity 800ms ease, background-size 800ms ease, background-position 800ms ease;
}

.mob-menu-items
{
    @apply group-hover:opacity-30 menu-transition-opacity hover:!opacity-100
}

#mob-menu:hover ~ #mob-menu-bg
{
    background-size: 11vmin 11vmin;
    opacity: 0.6;
}
